src/cli/bin
src/cli/obj
src/embeddingsearch/bin
src/embeddingsearch/obj
src/debug
src/Server/appsettings.Development.json
src/Server/bin
src/Server/obj
src/Client/bin
src/Client/obj
src/Models/bin
src/Models/obj
src/Indexer/bin
src/Indexer/obj
src/Indexer/Scripts/__pycache__
src/Indexer/logs
src/Server/logs
src/Shared/bin
src/Shared/obj
src/Server/wwwroot/logs/*
src/Server/CriticalCSS/node_modules
src/Server/CriticalCSS/package*.json
